__pycache__/
.env
.vscode/
.idea/
.DS_Store
node_modules/

# SQL dumps
*.sql

# Data directories
data_normalization/cache/
random_data/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
